<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zzpcomputer.register">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="交友App"
        android:largeHeap="true"
        android:roundIcon="@drawable/zzp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.IndexActivity" />
        <activity android:name=".activity.PyqActivity" />
        <activity android:name=".activity.WriteMoodActivity" />
        <activity android:name=".activity.ChooseGroupActivity" />
        <activity android:name=".activity.UpdatePwdActivity" />
        <activity android:name=".activity.LoginActivity"></activity>
    </application>

</manifest>